<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
{{ if eq .IsHome false }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
<title>{{ .Site.Params.Info.homeTitle }}</title>
{{ end }}
{{ if .Site.Params.Info.enableSocial }}
{{- partial "social/opengraph" . -}}
{{ end }}
{{ if .Site.Params.rss }}
<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}
{{- $mainCSS := resources.Get "css/style.css" | resources.Minify -}}
<link rel="stylesheet" href="{{ $mainCSS.RelPermalink }}"/>

{{- if findRE "class=\"img-small lazy\"" .Content 1 }}
{{- $lazyloadCSS := resources.Get "css/lazyload.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $lazyloadCSS.RelPermalink }}"/>
{{ end }}
{{- if findRE "<div id=\"aplayer\">" .Content 1 }}
{{- $aplayerCSS := resources.Get "css/aplayer.min.css" }}
{{- $aplayerJS := resources.Get "js/aplayer.min.js" }}
<link rel="stylesheet" href="{{ $aplayerCSS.RelPermalink }}"/>
<script src="{{ $aplayerJS.RelPermalink }}"></script>
{{ end }}
{{- if findRE "<div id=\"dplayer\">" .Content 1 }}
{{- $dplayerCSS := resources.Get "css/dplayer.min.css" }}
<link rel="stylesheet" href="{{ $dplayerCSS.RelPermalink }}"/>
{{- if findRE "type: 'hls'" .Content 1 }}
{{- $hlsJS := resources.Get "js/hls.min.js" }}
<script src="{{ $hlsJS.RelPermalink }}"></script>
{{ end }}
{{- $dplayerJS := resources.Get "js/dplayer.min.js" }}
<script src="{{ $dplayerJS.RelPermalink }}"></script>
{{ end }}
{{- range .Site.Params.Assets.customCSS -}}
<link rel='stylesheet' href='{{ . | absURL }}'>
{{- end -}}
{{ if .Site.Params.umamiAnalytics }}
{{- partial "analytics/umami" . -}}
{{ end }}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="canonical" href="{{ .Permalink }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
</head>
<body>