
<script src="/js/quicklink.umd.js"></script>
<script>
quicklink.listen({
  timeout: 4000,
  priority: false,
  ignores: [
    uri => uri.includes('#'),
    uri => uri.includes('index.xml'),
    uri => uri.includes('.png'),
    uri => uri.includes('.jpg'),
    uri => uri.includes('.gif'),
    uri => uri.includes('.mp4'),
    uri => uri.includes('.webm'),
    uri => uri.includes('.aac'),
    uri => uri.includes('.mp3'),
    uri => uri.includes('.flac'),
    (uri, elem) => elem.hasAttribute('noprefetch')
  ]
});
</script>
