<p>
<div id="aplayer"></div>
<script type="application/javascript">
var ap_new_id = "aplayer-" + Math.random().toString(36).substring(2, 10);
document.getElementById("aplayer").setAttribute("id", ap_new_id);
const ap = new APlayer ({
    container: document.getElementById(ap_new_id),{{ if (isset .Params `fixed`) }}
    fixed: {{ safeJS (.Get `fixed`) }},{{ end }}{{ if (isset .Params `mini`) }}
    mini: {{ safeJS (.Get `mini`) }},{{ end }}{{ if (isset .Params `autoplay`) }}
    autoplay: {{ safeJS (.Get `autoplay`) }},{{ end }}{{ if (isset .Params `theme`) }}
    theme: '{{ safeJS (.Get `theme`) }}',{{ end }}{{ if (isset .Params `loop`) }}
    loop: '{{ safeJS (.Get `loop`) }}',{{ end }}{{ if (isset .Params `order`) }}
    order: '{{ safeJS (.Get `order`) }}',{{ end }}{{ if (isset .Params `preload`) }}
    preload: '{{ safeJS (.Get `preload`) }}',{{ end }}
    mutex: true,{{ if (isset .Params `lrcType`) }}
    lrcType: '{{ safeJS (.Get `lrcType`) }}',{{ end }}{{ if (eq (.Get `playlist`) `true`) }}
    audio:[
        {{ safeJS (.Get `audio`) }}
    ]{{ else }}
    audio:[
        {
            title: '{{ safeJS (.Get `title`) }}',
            author: '{{ safeJS (.Get `author`) }}',
            url: '{{ safeJS (.Get `url`) }}'{{ if (isset .Params `pic`) }},
            pic: '{{ safeJS (.Get `pic`) }}'{{ end }}{{ if (isset .Params `lrc`) }},
            lrc: '{{ safeJS (.Get `lrc`) }}'{{ end }}
        }
    ]{{ end }}
});
</script>
</p>